.PostContainer{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    width: 50%;
    margin-left: 20%;
    margin-top: 2rem
}

.posts {
    display: flex;
    flex-direction: column;
}

.user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem;
}

.user img{
    width: 50px;
    height: 40px;
    border-radius: 50%;
    padding: 0 1rem;
}

.add-comment {
    border-top: 1px solid lightgray;
}